<%= form_with url: new_static_page_url, method: :get do |form| %>
  <div>
    <%= form.label :user_id, 'user_id' %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit 'Get photos for user id' %>
  </div>
<% end %>

<hr>

<% if @photo_urls && @photo_urls.length.positive? %>
  <% @photo_urls.each do |photo_url| %>
    <div><%= image_tag photo_url %><div>
  <% end %>
<% end %>
