<%= form_with url: new_static_page_url, method: :get do |form| %>
  <div>
    <%= form.label :user_id, 'user_id' %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit 'Get photos for user id' %>
  </div>
<% end %>

<hr>

<% if @list && @list.length.positive? %>
  <% @list.each do |photo| %>
    <div><%= photo.id %><div>
  <% end %>
<% end %>
